@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Chivo+Mono&family=Kanit:wght@500&family=Lobster&family=Merriweather:wght@300;700;900&family=Montserrat:wght@100&family=Oswald:wght@200;400;500;600;700&family=Quicksand:wght@300;400;600&family=Roboto:ital,wght@0,100;1,100&family=Rubik+Dirt&family=Rubik+Moonrocks&family=Vina+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
/* main div container style */
.container{
    width: 100%;
    height: 100%;
    display: flex;
}
/* left-container all style */
.left-container{
    width: 20%;
    height: auto;
    background-color: rgba(2, 0, 8, 0.973);
    font-family: 'Roboto', sans-serif;
}
.left-container a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.headOne{
    color: rgb(9, 9, 209);
    padding: 30px 0 0px 60px ;
    font-family: 'Roboto', sans-serif;
}
.headTwo{
    color: rgb(194, 194, 194);
    padding: 20px 0 0px 85px ;
    font-family: 'Roboto', sans-serif;
}
.headTwo:hover {
    background-color: antiquewhite;
    border: 1px solid wheat;
    padding: 10px;
    width: 250px;
    text-align: center;
    margin-left: 8px;
    border-radius: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.headThree{
    color: rgb(194, 194, 194);
    padding: 20px 0 0px 85px ;
}
.headThree:hover {
    background-color: antiquewhite;
    border: 1px solid wheat;
    padding: 10px;
    width: 250px;
    text-align: center;
    margin-left: 8px;
    border-radius: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.headFour{
    color: rgb(194, 194, 194);
    padding: 20px 0 0px 85px ;
}
.headFour:hover {
    background-color: antiquewhite;
    border: 1px solid wheat;
    padding: 10px;
    width: 250px;
    text-align: center;
    margin-left: 8px;
    border-radius: 10px;
    color: black;
    font-weight: 300px;
    font-family: 'Roboto', sans-serif;
}
/* right-container all style */
.right-container{
    width: 80%;
    background-color: rgba(37, 37, 37, 0.897);

}
.Header{
    width: 100%;
    height: 40px;
    /* background-color: aquamarine; */
    border-bottom: 0.5px solid rgb(218, 216, 213);
}
.Account{
    width: 40%;
    display: flex;
    float: right;
    justify-content: right;
    color: aliceblue;
}
.right-headOne{
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Anton', sans-serif;
}
.imageOne{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 10px;
}
/* <!-- right-container-money-balace-division-style --> */
.money-balance{
    width: 90%;
    height: 70px;
    border: 1px solid rgb(133, 133, 130);
    margin: 30px 0 0 60px;
    border-radius: 5px;
    display: flex;
}
.money-balance .head{
    color: azure;
    padding: 25px 0 0 30px;
    font-size: 20px;
    font-weight: bold;
}
.money-balance .head2{
    color: azure;
    padding: 25px 0 0 300px;
    font-size: 20px;
}
/* <!-- right-container-historical-division --> */

/* * <!-- right-container-Top-Container-division --> */ 
.Top-container{
    width: 90%;
    /* border: 1px solid rgb(133, 133, 130); */
    margin: 30px 0 0 60px;
    /* border-radius: 5px; */
    display: flex;
    
}
.Top-container p{
    padding-bottom: 2px;
    font-family: 'Anton', sans-serif;
}
.Top-container .left-history{
    width: 28%;
    border: 1px solid rgb(133, 133, 130);
    padding: 10px;
    border-radius: 5px;
    color: rgb(222, 223, 224);
    box-shadow: 5px 5px 5px 0 rgb(211, 212, 216);
}

.Top-container .right-history{
    width: 28%;
    margin-left: 75px;
    border: 1px solid rgb(133, 133, 130);
    padding: 10px;
    border-radius: 5px;
    color: rgb(222, 223, 224);
    box-shadow: 5px 5px 5px 0 rgb(211, 212, 216);
}


.Top-container .right-historyTwo{
    width: 28%;
    margin-left: 80px;
    border: 1px solid rgb(133, 133, 130);
    padding: 10px;
    border-radius: 5px;
    color: rgb(222, 223, 224);
    box-shadow: 5px 5px 5px 0 rgb(211, 212, 216);
    margin-bottom: 5px;
}